@import "tailwindcss";

@font-face {
  font-family: 'PixelSplitter';
  /* 1. Diagonales normales y ruta directa a assets */
  src: url('./assets/PixelSplitter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-tec-azul: #1B396A;
  --color-tec-amarillo: #FFD51A;
  --color-tec-gris: #807E82;
  
  /* 2. Le decimos a Tailwind que reemplace su fuente predeterminada por la tuya */
  --font-sans: 'PixelSplitter', sans-serif;
}